3DDFA/.idea/
*.pyc
3DDFA/__pycache__/
3DDFA/utils/__pycache__/
3DDFA/test.data/
3DDFA/training/snapshot/
3DDFA/training/logs/
3DDFA/train.configs/param_all_norm.pkl*
3DDFA/train.configs/param_all_norm_val.pkl*
3DDFA/train.configs/train_aug_120x120.list.*

3DDFA/samples/*.mat
3DDFA/samples/*.ply
3DDFA/samples/*.txt

3DDFA/.ipynb_checkpoints/
3DDFA/*.ipynb
3DDFA/tmp/

3DDFA/models/shape_predictor_68_face_landmarks.dat
3DDFA/.DS_Store

3DDFA/demo_obama/
3DDFA/todo.md

3DDFA/utils/cython/build
3DDFA/utils/cython/*.so
3DDFA/utils/cython/mesh_core_cython.cpp
3DDFA/PAF/

3DDFA/samples/*.obj
3DDFA/.vscode/
3DDFA/.idea/
3DDFA/venv/

PointNet/data/
PointNet/.idea/
PointNet/venv/
PointNet/__pycache__/
PointNet/*.ipynb

